@using System.Web.UI.WebControls
@using ZTP.Models.Classes
@model ZTP.Models.FlightViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <h4>Flight</h4>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.Label("To")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Flight.ArrivalAirport.Name)
            </dd>

            <dt>
                @Html.Label("From")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Flight.DepartureAirport.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Flight.DepartureDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Flight.DepartureDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Flight.ArrivalDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Flight.ArrivalDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Flight.NumberOfSeats)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Flight.NumberOfSeats)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Flight.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Flight.Price)
            </dd>
            @if (User.Identity.IsAuthenticated)
            {
                <dt>
                    Ticket type:
                </dt>
                <dd>
                    @Html.DropDownListFor(model => model.SelectedType, Model.TicketType)
                    @Html.HiddenFor(model => model.Flight.FlightID, Model.FlightId)
                    @Html.HiddenFor(model => model.Flight.Price, Model.Price)
                </dd>
            }
        </dl>
        @if (User.Identity.IsAuthenticated)
        {
            if (ViewBag.AvailableTickets > 0)
            {
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Buy" class="mySubmitButton" />
                        <span> Buy one of @ViewBag.AvailableTickets available Tickets! </span>
                    </div>
                </div>
            }
            else
            {
                <span>All Tickets are sold. Find another flight.</span><br />
            }

        }

    </div>
}
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
