@model ZTP.Models.TrainViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <h4>Train</h4>
        <hr/>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Train.DepartureStationID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Train.DepartureStationID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Train.ArrivalStationID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Train.ArrivalStationID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Train.DepartureDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Train.DepartureDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Train.ArrivalDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Train.ArrivalDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Train.NumberOfSeats)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Train.NumberOfSeats)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Train.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Train.Price)
            </dd>

            @if (User.Identity.IsAuthenticated)
            {
                <dt>
                    Ticket type:
                </dt>
                <dd>
                    @Html.DropDownListFor(model => model.SelectedType, Model.TicketType)
                    @Html.HiddenFor(model => model.Train.TrainID, Model.TrainId)
                    @Html.HiddenFor(model => model.Train.Price, Model.Price)
                </dd>
            }
        </dl>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Buy" class="btn btn-default"/>
                </div>
            </div>
        }
    </div>
}
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Train.TrainID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
