@model ZTP.Models.Train

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Train</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DepartureStationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureStationID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivalStationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalStationID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfSeats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfSeats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TrainID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
